$color-principal: #6d2c28;
$color-secundario: #f4e1dc;
$background-color: #faf4f0;
$text-color: #3a2a29;
$font-family: 'Georgia', serif;
$button-bg: #8e231b;
$button-bg-hover: #451515;
$navbar-bg: #451515;
$footer-bg: #571c1c;
$accent-color: #451515;